<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


 <suite name="Suite" thread-count="5">
  
  
  	//will launch chrome browser
	<test name="Chrometest" >
		
		<parameter name="browser" value="Chrome"></parameter>
		
			<classes> 
				
				<class name="testCases.TC_02_Login_dataprovider">
					
				</class>
					
			</classes>
			
				
	</test>
	
	// will launch edge browser
	
	
	<!--<test name="Edgetest" >
		
		<parameter name="browser" value="Edge"></parameter>
		
			<classes> 
				
				<class name="testCases.TC_02_Login">
					
				</class>
					
			</classes>
			
				
	</test>-->
	  
  

 </suite>